html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-size: 14px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.App {
    max-width: 1200px;
    height: auto;
    margin: 5px auto;
}

.login-registerForm {
    width: 180px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

/*header/////////////////*/
.header {
    width: 100%;
    height: 120px;
    margin: 5px 0px;
    background-color: #EDF6F9;
}

.header-menu {
    width: auto;
    height: 50%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.header-menu_logo {
    width: 15%;
    height: 100%
}

.header-menu_logoImg {
    position: absolute;
    top: 30px;
    width: 100px;
}

.header-menu_toolbar {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.header-menu_tool {
    width: 15%;
    height: 100%
}

.header-menu_toolbar ul {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.header-menu_toolbar ul li {
    width: 100px;
}

.header-menu_toolbar ul li:hover {
    cursor: pointer;
}

.header-menu_tool {
    max-width: 30%;
    height: 100%;
    transform: translateX(-10px);
}

.header-menu_toolbarSelect:hover {
    cursor: pointer;
}

.formShowEmailLogin {
    width: 200px;
    margin: 50px 0px 0px -20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.showEmailLogin {
    font-size: 20px;
    margin: 10px;
}





.header-opttion {
    width: 100%;
    height: 50%;
}

.header-opttion ul {
    max-width: 100%;
    margin: 0px auto;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header-opttion ul:hover {
    cursor: pointer;
}

/* 
.header-opttion ul li{

} */

body {
    width: 100%;
    overflow-x: hidden;
}


/*Body*/
.bodyContents {
    width: 100%;
    height: 500px;
}

.body-oder {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    position: relative;
    /* position: absolute; */
}

.body-oder img {
    width: 100%;
    height: 100%;
    /* height: 400px; */
    opacity: 0.5;
    object-fit: cover;
    object-position: 50% 100%;

}

.oder-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 30%;
    color: #050505;
}

.oder-content-notice {
    width: 50%;
    font-size: 30px;
    margin-bottom: 20px;
}

.bodyOder-search-container {
    width: 100%;
    height: 500px;
    display: flex;
    position: absolute;
    justify-content: center;
    top: 50px;
    left: 0;
    height: 50%;

}

.bodyOder-search {
    width: 95%;
    padding: 20px 0;
    border-radius: 20px;
    /* border: 5px solid rgb(38, 0, 255); */
}

.bodyOder-search_title {
    width: 100%;
    justify-content: center;
    gap: 50px;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

.bodyOder-search_container {
    width: 100%;
    display: flex;
}

.bodyOder-search_Oders {
    width: 100%;
    height: auto;
    display: flex;
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 30px;
}

.bodyOder-search_Oders_place {
    width: 35%;
    box-sizing: border-box;
    height: 50px;
    padding: 0 20px;
}

.bodyOder-search_Oders_place p {
    text-align: center;
}

.bodyOder-search_Oders_place input {
    width: 100%;
    height: 35px;

}

.bodyOder-search_Oders_dayGo {
    width: 35%;
    text-align: center;
    height: 50px;

}

.bodyOder-search_Oders_dayGo p {
    margin-bottom: 5px;

}


.bodyOder-search_Oders_people {
    width: auto;
    text-align: center;
    height: 50px;
    margin-bottom: 10px;
}

.bodyOder-search_Oders_numPp {
    margin-top: 10px;
    text-align: center;
    width: 80%;
    height: 30px;
}

.bodyOder-search_btn {
    width: 10%;
    padding-top: 30px;
}






/*Commercial*/

.commercialCarousel {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.commercialCarousel img {
    width: 50%;
}

/*Commercial*/

/*Options*/
.body-options-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    padding-top: 5px;
}

.options-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    gap: 5px;
    z-index: 9999;
}

.options-item {
    width: 32.5%;
    height: 500px;
    margin-bottom: 10px;
    background-color: #FBF3F7;
}

.options-item :hover {
    cursor: pointer;
}

.options-item-video {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 5%;
    margin-bottom: 10px;
}

.introVideo {
    position: absolute;
    max-width: 100%;
    height: 100%;
    border-radius: 5%;

}

.item-promotion-number {
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 1;
    font-size: 20px;
}

.item-promotion-bgd {
    position: absolute;
    background-color: #FF3366;
    left: -20px;
    top: -20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    z-index: 0;
}

.item-infor {
    padding: 0px 10px;
    position: relative;
}

.item-infor h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-comment {
    margin: 10px 0px;
    font-size: 18px;
}

.item-price {
    position: absolute;
    right: 40px;
    bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    gap: 4px
}

.item-price p:last-child {
    font-size: 14px;
}

/*Options*/

/*Login*/


.form {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDF6F9;
    overflow: hidden;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/md2-reactjs.appspot.com/o/images%2Fdownload.jfif?alt=media&token=51451bcb-bb3e-4721-bb87-67a4ef7dd845');
    background-repeat: no-repeat;
    background-size: cover;
}

.formLoginContainer {
    width: 60%;
    height: 60%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(237, 246, 249);
}

.loginTitile {
    text-align: center;
}

.loginTitile h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0px;
}

.loginInput {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin: 10px;
}

.loginInput-titile {
    width: 20%;
    padding: 0px 20px 0 40px;
    font-size: 14px;
}

.emailErr {
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.loginInput input {
    font-size: 14px;
    width: 60%;
    height: 30px;
}

.loginInput_checkbox {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.formLoginSubmit {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formNotice {
    color: rgb(248, 47, 47);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.formBackToHome {
    margin: 0 50px;
}

/*Register*/

.bodyServices {
    width: 100%;
    margin: 0px 5px;
}

.bodyServices-title {
    width: 100%;
}

.bodyServices-logo {
    width: 10%;
}

.bodyServices-logo img {
    width: 100%;
}

/*Register*/

/*Product*/
.product {
    width: 100%;
}

.product-comercial {
    width: 100%;
    margin-bottom: 10px;
}

.product-comercial img {
    width: 100%;
}

.product-contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* border: 1px solid rebeccapurple; */
    box-sizing: border-box;
}

.product-contents_show {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.product-contents_head {
    width: 100%;
    font-size: 35px;
    /* border: 1px solid rebeccapurple; */
    box-sizing: border-box;
}

.product-contents_head_title {
    margin: 20px 0px;

}

.product-contents_Price {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.product-contents_Price-current {
    width: 50%;
    padding: 0px 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

.product-contents_Price-current span {
    padding-left: 5px;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
}






.product-contents_bgd {
    width: 100%;
    /* display: flex; */
    position: absolute;
    top: -0;
    left: 0;
}

.product-contents_bgd img {
    width: 100%;
    opacity: 0.1;
}

.product-contents_slides {
    width: 100%;
    /* border: 5px solid rebeccapurple; */
    box-sizing: border-box;
    display: flex;
    gap: 5px;
    margin-bottom: 40px;
}

.product-contents_slide {
    width: 50%;
    height: 100%;
}

.product-contents_slideImg {
    width: 100%;
}

.product-contents_slideImg img {
    width: 100%;
    height: 300px;
}

.product-contents_comment {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.comment {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
    text-indent: 2em;
}

.product-contents_commentNo1 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}


.product-contents_comment img {
    width: 80%;
    margin-bottom: 10px;
}

/*Product*/


/*Footer*/
.Footer {
    width: 100%;
    padding-bottom: 10px;
    background-color: rgb(247, 250, 252);
}

.Footer-logo {
    width: 100%;
}

.Footer-logo img {
    width: 20%;
    margin: 20px 30px;
}

.Footer-contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.Footer-content {
    width: 30%;
    padding: 20px 10px;
}

.Footer-content-Title {
    width: 100%;
}

.Footer-content-Title p {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Footer-content-policy {
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}

.Footer-content-policy p {
    margin-bottom: 5px;
}

.Footer-Img {
    width: 100%;
    display: flex;
}

.Footer-Img img {
    width: 50%;

}


/*Footer*/

/*UserControl*/
.userControl-container {
    margin: 20px 0px;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.userControl-container-tb{
    width: 80%;
    
}

.userControl-tb {
    text-align: center;
    width: 100%;
    padding: 0px 20px;
    background-color: #FFF5F7;
}

.userControl-tb caption {
    padding: 10px 0px;
    font-size: 25px;
}


.userControl-bgd1 {
    width: 100%;
    height: 100%;
}

.userControl-bgd1 img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
}

.userControl-bgd2 {
    width: 100%;
    height: 100%;
}

.userControl-bgd2 img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 1000px;
    opacity: 0.2;
}

.userControl-tb-title {
    align-items: center;
    border: 1px solid ;
    background-color: #FFF5F7;
    margin-bottom: 20px;
}
.userControl-tb-title {
    border: 1px solid rebeccapurple;
}


/*UserControl*/